* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
}

table {
    border: solid 2px black;
}

table * {
    border: solid 1px rgb(58, 58, 58);
}

th, td {}